<ion-app>
  <ion-header [translucent]="true">
      <ion-toolbar>
          <ion-title>Torrentz 3</ion-title>
      </ion-toolbar>
      <ion-toolbar>
          <div class="search-box">
              <ion-input placeholder="Enter Title" [(ngModel)]="text"></ion-input>
              <ion-button slot="end" fill="solid"
                  ><ion-icon name="search"></ion-icon>
              </ion-button>
          </div>
      </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true"> 

      {{text}}
  </ion-content>
</ion-app>
